<?xml version='1.0' encoding='utf-8'?>
<widget id="net.bawes.plugn" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <feature name="Device">
        <param name="browser-package" value="Device" />
    </feature>
    <feature name="NativeStorage">
        <param name="browser-package" value="NativeStorage" />
    </feature>
    <name>Plugn</name>
    <description>Instagram Comment Management for Teams</description>
    <author email="hello@plugn.io" href="https://plugn.io/">Plugn.io Team</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <icon src="resources/android/icon/drawable-xhdpi-icon.png" />
    <allow-navigation href="*" />
    <allow-navigation href="http://192.168.0.31:8100" />
    <allow-navigation href="http://192.168.1.71:8100" />
    <allow-navigation href="http://192.168.1.25:8100" />
    <allow-navigation href="http://192.168.1.25:8101" />
    <allow-navigation href="http://192.168.8.105:8100" />
    <allow-navigation href="http://192.168.8.103:8100" />
    <allow-navigation href="http://192.168.8.104:8100" />
    <allow-navigation href="http://192.168.8.100:8100" />
    <allow-navigation href="http://192.168.8.105:8000" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashScreenDelay" value="2000" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value="300" />
    <preference name="SplashScreenBackgroundColor" value="0xFFFFFFFF" />
    <preference name="SplashScreen" value="screen" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
</widget>
